.container{
    font-family: poppins;
    font-size:23px;
    display: flex;
    flex-direction: row;
}

.container section{
    width: 50%;
    gap: 1em;
    display: flex;
    flex-direction: column;
    margin-bottom: 61px;
    margin-top: 61px;
    margin-left: 150px;
}